<div class="header px-4 rounded-2">
  <div class="row flex-column flex-xl-row justify-content-xl-between align-items-xl-center">
    <div class="col-auto">
      <h1 class="page-title text-white">{{'Lecture Schedule'}}</h1>
    </div>
    <div class="col-auto">
      <div class="user-panel d-flex align-items-center column-gap-4">
        <div class="search">
          <span class="icon d-flex justify-content-center align-items-center">
            <i class="iconsax" icon-name="search-normal-1"></i>
          </span>
        </div>
        <div class="theme-mode">
          <span class="icon d-flex justify-content-center align-items-center">
            <i class="iconsax" icon-name="moon"></i>
          </span>
        </div>
        <div class="language">
          <span class="icon d-flex justify-content-center align-items-center">
            <i class="iconsax" icon-name="globe"></i>
          </span>
        </div>
        <div class="notifications">
          <span class="icon d-flex justify-content-center align-items-center">
            <i class="iconsax" icon-name="bell-1"></i>            
            <div class="notice d-flex justify-content-center align-items-center p-1 bg-danger">4</div>
          </span>
        </div>
        <div class="profile">
          <span class="image d-flex justify-content-center align-items-center">
            <img src="/assets/images/general/profile.png" alt="{{'Profile Image'}}">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>