@import "bootstrap/scss/functions";
@import "assets/styles/bs/bs-variables";
@import "bootstrap/scss/variables";
@import "assets/styles/variables";

.header {
  padding: calc($grid-gutter-width/2);

  background-image: linear-gradient(0deg, $blue, $blue),
    linear-gradient(80.18deg, $blue 58.22%, $blue-600 118.85%);

  .page-title {
    font-size: 1.125*$font-size-base;
  }

  .user-panel {
    .icon {
      color: $white;
      font-size: 1.625*$font-size-base;
    }

    .notifications {
      .icon {
        position: relative;

        .notice {
          position: absolute;
          top: -.5*$spacer;
          inset-inline-end: -.5*$spacer;

          width: 1.125*$spacer;
          height: 1.125*$spacer;
          font-size: $font-size-xxs;
          border-radius: 50%;
        }
      }
    }

    .profile {
      .image {
        width: 2.5*$spacer;
        height: 2.5*$spacer;
        border-radius: 50%;
        overflow: hidden;

        img {
          max-width: 150%;
        }
      }
    }
  }
}