<div class="d-flex flex-column row-gap-3">
  <div class="image text-center">
    <img src="assets/images/not-found/no-data.svg" alt="">
  </div>

  <div class="row justify-content-center g-0">
    <div class="col-xl-7">
      <p class="text fs-4 text-center">
        There is no class routine available. Search your classes for more updates.
      </p>
    </div>
  </div>

  <div class="row justify-content-center g-0">
    <div class="col-xl-4">
      <button class="btn btn-lg btn-primary py-3 w-100" (click)="buttonClicked.emit(true)">Add new schedule</button>
    </div>
  </div>
</div>