$gray-100: #F6F6F6;
$gray-500: #939393;
$gray-600: #626366;
$gray-800: #333333;

$blue-400: #05A3E6;
$blue: #0175BC;
$blue-900: #203B54;
$blue-600: #03598D;
$purple: #6F4FF9;
$orange: #FF6500;
$yellow: #FFBA3C;
$green: #0E927A;
$green-600: #166940;

$dark: $blue-900;